@import './reset.less';
@import './mixins/index.less';
@import './animate.less';

:root {
  --bgColor: #fff;
  --fontColor: #303133;
  --mainColor: #1989fa;
}

.clearfix {
  .clearfix;
}

.ellipsis {
  .ellipsis;

  &-2 {
    .multi-ellipsis(2);
  }

  &-3 {
    .multi-ellipsis(3);
  }
}

.x-icon {
  font-size: 16px;
}

.animate-fade {
  &-enter-active {
    animation: fadeIn 0.3s ease-in;
  }

  &-leave-active {
    animation: fadeOut 0.3s ease-out;
  }
}

.animate-tabbar {
  &-enter-active {
    animation: slideInUp 0.3s ease-in;
  }

  &-leave-active {
    animation: slideOutDown 0.3s ease-out;
  }
}

.animate-notes {
  &-move {
    filter: blur(5px);
    transition: transform 0.3s ease-in-out;
  }

  &-enter-active {
    animation: slideInLeft 0.3s ease-in, blurIn 0.3s ease-in;
  }

  &-leave-active {
    animation: slideOutLeft 0.3s ease-out, blurOut 0.3s ease-out;
  }
}
